.header {
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
}

.header.active {
  background: var(--color-white);
  box-shadow: 0 10px 33px rgb(0 0 0 / 10%);
}

.header-container {
  /* margin-inline: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* color: var(--theme-color); */
  margin: 0;
  float: left;
  font-weight: 700;
  font-size: 40px;
  padding: 0px 0;
  letter-spacing: 1px;
  font-family: "Nunito Bold";
  cursor: pointer;
}

.header-container ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.header-container ul li {
  margin-inline: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.header-container ul li a {
  color: var(--color-dark);
  text-decoration: none;
  font-family: "Nunito Regular";
  font-weight: 500;
  font-size: 15px;
}

.header-container ul li a:hover {
  /* color: var(--theme-color); */
  font-family: "Nunito Semi Bold";
}

.font-awesome-icon {
  font-size: 20px;
  cursor: pointer;
  /* color: var(--theme-color); */
}

#check-label {
  display: none;
}

label #btn,
label #cancel {
  /* color: var(--theme-color); */
  font-size: 30px;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.active-blue {
  color: var(--color-blue) !important;
}

.active-red {
  color: var(--color-red) !important;
}

.active-green {
  color: var(--color-green) !important;
}

.active-yellow {
  color: var(--color-yellow) !important;
}

.active-orange {
  color: var(--color-orange) !important;
}

.active-teal {
  color: var(--color-teal) !important;
}

.active-brown {
  color: var(--color-brown) !important;
}

.active-pink {
  color: var(--color-pink) !important;
}

.active-beige {
  color: var(--color-beige) !important;
}

.active-purple {
  color: var(--color-purple) !important;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
  .header {
    background: var(--color-white);
    padding: 10px;
  }

  label #btn {
    display: block;
  }

  ul {
    position: fixed;
    height: 300px;
    width: 100%;
    top: -380px;
    left: 0px;
    right: 0px;
    padding-left: 0px !important;
    text-align: center;
    background: var(--color-white);
    transition: 0.7s;
    flex-direction: column;
    box-shadow: 0px 15px 30px -20px #111;
    z-index: -1;
  }

  .header-container ul li {
    display: block;
    margin: 0;
    line-height: 30px;
  }

  .header-container ul li a {
    font-size: 20px;
  }

  #check-label {
    display: block;
  }

  #check:checked ~ ul {
    top: 80px;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }
}
